body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header{
  display: flex;
  width: 100%;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  background-color:blueviolet;
}

img{
  max-height: 100%;
  max-width: 100%;
}

ul{
  display: flex;
  margin-right: 20px;
  align-items: center;
}

li{
  color: white;
  list-style: none;
  margin: 3px;
}

a{
  color: white;
  text-decoration: none;
  margin: 3px;
}
 
main{
  display: flex;
  justify-content: center;
  align-items: center;
}

div{ 
  min-width: 200px;
  height: 200px;
  margin: 50px;
  border-radius: 30px;
}

p{
  text-align: center;
  margin-top: 30px;
}

.menu{
  text-decoration: underline;
}
   
.divMissao{
    background-color: green;
  }
.divVisao{
   background-color: cornflowerblue;
  }
.divValores{
    background-color: orange;
  }

footer{
  width: 100%;
  height: 60px;
  background-color: gray;
}
